html {
	width: 102%;
	height: 102%;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;

	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #32419d 0%, #53e3a6 50%, #00d76a 100%);
	background: -moz-linear-gradient(top left, #32419d 0%, #53e3a6 50%, #00d76a 100%);
	background: -o-linear-gradient(top left, #32419d 0%, #53e3a6 50%, #00d76a 100%);
	background: linear-gradient(to bottom right, #32419d 0%, #53e3a6 50%, #00d76a 100%);

	width: 100%;
	overflow: hidden;
}

body:before {
	content: "";
	background: url("https://linuxmint.com/web/wizixo/template/assets/images/bg/pattern/02.png");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

a, a:hover, a:active, a:visited, a:link {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

/* Inputs styling */
input {
	width: 80%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #cecece;
	border-radius: 4px;
	background-color: #f7f7f7;
	margin-top: 3px;
}

input:hover {
	border-color: #4DD0E1;
}

input:focus {
	border-color: #1E88E5;
	background-color: #e5f3ff;
}

/* Special styling cause these are special */
input[type=submit] {
	width: 100%;
	margin: 0px;
}

input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

.container {
	margin: 5% 10%;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	width: 80%;
	height: 80%;
	background-color: #ffffffa8;
	border-radius: 5px;
}

.title, .TitleBar {
	background-color: #efefef;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: black;
	font-size: 20px;
	font-weight: 600;
	height: 34px;
}

.title {
	text-align: center;
	height: 30px;
}

.content {
	background-color: #FFF;
	height: calc(100% - 70px);
  margin-top: -10px;
}

/* To hide the bottom line of the last entry*/
.content > *:last-child {
	border-bottom: 0px;
}

.Entry {
	margin: 10px;
	border-bottom: 1px solid #c9c9c9;
	padding-bottom: 10px;
}

.Entry-Title {
	width: 100%;
	height: 20px;
	padding: 10px;
}

/* Used when there's a search bar */
.withSearchBar {
    display: inline;
    width: 160px;
	margin-left: calc(50% - (100% - 160px - 10%)/2 - 80px);
	text-align: left;
}

.SearchBar {
    display: inline;
    width: calc((100% - 160px - 10%)/2);
	margin: 0px;
    margin-left: 2px;
}

/* Search features */
.hidden {
	visibility: hidden;
}

/* Showcase components */
#Contact-Name {
    font-weight: 900;
    font-size: 75px;
}

#Profile-Picture {
    width: 100px;
    height: 100px;
    background: #d1d1d1;
    border-radius: 50%;
    color: white;
    margin: auto;
    text-align: center;
    padding: 23px;
    font-size: 70px;
    font-weight: 700;
}

.information {
	font-size: 16px;
}

.information a:link, .information a:visited, .information a {
	color: #1565c0;
	text-decoration: underline;
}

/* Controls area */
.controls {
	height: 30px;
	padding: 5px;
	background-color: #efefef;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.right-controls {
	float: right;
	margin-top: 2px;
}

.center-controls {
	margin-top: 2px;
}

.left-controls {
	float: left;
	margin-top: 2px;
}

/* Used for the spacing of the buttons in the boxes */
.left-controls > *:nth-child {
	margin-left: 4px;
}

.center-controls > *:nth-child {
	margin: 2px 0px;
}

.right-controls > *:nth-child {
	margin-right: 4px;
}

/*Buttons area */
.button, .button:visited, .button:link, .button-back, .button-back:visited, .button-back:link, .button-next, .button-next:visited, .button-next:link {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: none;
    font-variant-ligatures: none;
    font-variant-caps: none;
    font-variant-numeric: none;
    font-variant-east-asian: none;
    font-stretch: none;
    font-size: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-rtl-ordering: logical;

    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;

    padding: 5px;
    box-sizing: border-box;
	  font-weight: 500;
	  font-family: 'Roboto', sans-serif;
    font-size: 13px;

	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-weight: 500;
	border: 1px solid;
}

/* Classical button */
.button, .button:visited, .button:link {
	background-color: #a6d0ff;
	border-color: #3986de;
	color: #32419d;
}

.button:hover {
	background-color: #3986de !important;
}

.button:focus {
	background-color: #1565C0;
	border-color: #1565C0;
}

/* Red button, like a discard changes */
.button-back {
	background-color: #ffb7b7;
	border-color: #ff0000;
	color: #ff0000;
}

.button-back:hover {
	background-color: #ff0000 !important;
}

.button-back:focus {
	background-color: #ee0000;
	border-color: #ee0000;
}

/* Green button like apply changes */
.button-next, .button-next:visited, .button-next:link {
	background-color: #9fff9a;
	border-color: #0acc00;
	color: #0acc00;
}

.button-next:hover {
	background-color: #089f00 !important;
}

.button-next:focus {
	background-color: #089f00;
	border-color: #089f00;
}

/* Common button styling */
.button:hover, .button-back:hover, .button-next:hover {
	color: white;
}

.button:focus, .button-back:focus, .button-next:focus {
	font-weight: 700;
	color: white;
}

/* Radio area */
.radio {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  color: black;
}

.radio__label {
  line-height: 1;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}

.radio-before input + .radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

.radio-before input:checked + .radio__control::before {
  transform: scale(1);
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
  color: #1565C0;
}

/* Table area */
/* Empty area for e.g. a checkbox */
.void-spacer {
	background-color: transparent;
	width: 15px;
  display: inline;
  margin: 0px 10px;
}

/* Vertical line separator */
.spacer {
	width: 1px;
	border-left: 1px solid #d2d2d2;
	margin: 2px 5px;
  display: inline;
}

#contactsListContainer {
  overflow-y: auto;
  height: 100%;
}

/* Keep what each section corresponds to visible */
#contactsListContainer thead th {
  position: sticky;
  top: 0;
}

table {
  width: 100%;
  border-collapse: unset;
  border: 0px solid black;
}

tr {
	background-color: transparent;
	color: black;
	border-radius: 3px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
}

tr:nth-child(odd) {
	background-color: #eaeaea;
}

td:not(:first-child) td:not(:first-child) {
  border-left: 1px solid black;
}

thead > tr:first-child {
  background-color: #b5b9ba;
  border-radius: 3px;
  position: sticky;
  top: 0;
}

tr:hover {
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid;
	background-color: #a6d0ff;
	border-color: #3986de;
	color: #004eff;
}

thead > tr:first-child:hover {
	background-color: #b5b9ba;
	color: inherit;
}

/* The clickable have to fit the style too */
tr > td > a {
  text-decoration: none;
  color: inherit;
  background: inherit;
  border-color: inherit;
  font-size: inherit;
  display: block;
}

.list-checkbox-header {
	width:  15px;
}

/* Needs to be here, else it will conflict with previous styles and broke */
input[type="checkbox"] {
    width: 15px;
}

#contactsListContainer {
	overflow-y: hidden;
	overflow-x: hidden;
}

#contactsListContainer:hover {
	overflow-y: auto;
}

/* Beautifully show the scrollbar by a with-love-hand-crafted animation :) 
	 Has to be separated so we can enable it or don't if the content is scrollable or not.
	 Do not care about the scrollbar, it will just keep hidden if needed as it is auto.    */
.cLCEnableAnim:hover {
	animation-name: clc_anim;
	animation-duration: 0.25s;
	animation-timing-function: ease-in;
}

#contactsListContainer:hover > ::-webkit-scrollbar {
	animation-name: clc_sb_anim;
	animation-duration: 0.25s;
}

/* Scrollbar popuping animations */
@keyframes clc_sb_anim {
	0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes clc_anim {
  0% {padding-right: 0px; overflow-y: hidden;}
  49% {padding-right:  14px;}
  50% {padding-right: 0px;}
  75% {overflow-y: auto;}
  100% {padding-right: 0px;}
}

/* Scrollbar UI */
/*Do we really need compatibility for other rendering engines? At all WebKit is (seems?) the best */
#contactsListContainer::-webkit-scrollbar {
	width: 14px;
}

#contactsListContainer::-webkit-scrollbar-thumb {
	background-clip: content-box;
	border: 4px solid transparent;
	border-radius: 7px;
	box-shadow: inset 0 0 0 10px;
	color: #c0c6c8;
}

#contactsListContainer::-webkit-scrollbar-thumb:hover {
	color: gray;
}

#contactsListContainer::-webkit-scrollbar-thumb:active {
	color: #6a6c72;
}

#contactsListContainer::-webkit-scrollbar-button {
	width: 0;
	height: 0;
	display: none;
}

#contactsListContainer::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* Fixes of behaviours */
/* Used when there is a top margin that usually doesn't show up in the first Entry */
.fix-top {
	margin-top: 0px;
}